.board-container {
    display: flex;
    flex-direction: column;
    border-top: 5px solid var(--bg-color);
    border-bottom: 5px solid var(--bg-color);
}

.board-container.p1 {
    border-top: 5px solid var(--p1-color);
}

.board-container.p2 {
    border-bottom: 5px solid var(--p2-color);
}

.board-row {
    /* container for the columns -- use flexbox to layout the columns evenly */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.board-square {
    text-align: center;

    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
}
